body{
  margin: 0;
  padding: 0;
}

#top-image {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
  ), url('../images/1.jpg') no-repeat fixed;
  position:fixed ;
  top:0;
  width:100%;
  z-index:0;
  height:100%;
}

.jumbotron {
  background-color: transparent !important;
  color: white !important;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

#content {
  width: 800px;
  transform: 			translateY(-50%);
  top: 30%;
  position: relative;
}
